openapi: 3.1.0
info:
  title: RefereeRequest API
  version: 1.0.0
servers:
  - url: https://api.refereerequest.com
  - url: https://staging-api.refereerequest.com
paths:
  /api/v1/health:
    get:
      operationId: getHealth
      responses:
        "200":
          description: API healthy
  /api/v1/auth/signup:
    post:
      operationId: signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, fullName, password]
              properties:
                email:
                  type: string
                  format: email
                fullName:
                  type: string
                  minLength: 2
                password:
                  type: string
                  minLength: 8
      responses:
        "201":
          description: Signup successful
        "400":
          description: Validation error
        "409":
          description: Email exists
  /api/v1/auth/login:
    post:
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: Login successful
        "400":
          description: Validation error
        "401":
          description: Invalid credentials
  /api/v1/requests:
    get:
      operationId: listCandidateRequests
      responses:
        "200":
          description: Candidate requests returned
        "401":
          description: Unauthorized
    post:
      operationId: createCandidateRequest
      responses:
        "201":
          description: Request created
        "400":
          description: Validation error
        "401":
          description: Unauthorized
  /api/v1/requests/{requestId}:
    get:
      operationId: getCandidateRequest
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Request detail returned
        "401":
          description: Unauthorized
        "404":
          description: Not found
  /api/v1/requests/{requestId}/send:
    post:
      operationId: sendCandidateRequest
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Request sent
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "409":
          description: Already sent
  /api/v1/requests/{requestId}/documents:
    get:
      operationId: listSupportingDocuments
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Document list returned
        "401":
          description: Unauthorized
    post:
      operationId: uploadSupportingDocument
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "201":
          description: Document uploaded
        "400":
          description: Validation error
        "401":
          description: Unauthorized
        "404":
          description: Not found
