openapi: 3.1.0
info:
  title: RefereeRequest API
  version: 1.0.0
servers:
  - url: https://api.refereerequest.com
  - url: https://staging-api.refereerequest.com
paths:
  /api/v1/health:
    get:
      operationId: getHealth
      responses:
        "200":
          description: API healthy
  /api/v1/health/ready:
    get:
      operationId: getReadiness
      responses:
        "200":
          description: API ready
        "503":
          description: Dependency unavailable
  /api/v1/auth/signup:
    post:
      operationId: signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, fullName, password]
              properties:
                email:
                  type: string
                  format: email
                fullName:
                  type: string
                  minLength: 2
                password:
                  type: string
                  minLength: 8
      responses:
        "201":
          description: Signup successful
        "400":
          description: Validation error
        "409":
          description: Email exists
  /api/v1/auth/login:
    post:
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: Login successful
        "400":
          description: Validation error
        "401":
          description: Invalid credentials
  /api/v1/auth/google:
    post:
      operationId: googleAuth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessToken]
              properties:
                accessToken:
                  type: string
      responses:
        "200":
          description: Google authentication successful
        "400":
          description: Validation error
        "401":
          description: Invalid access token
        "503":
          description: Google auth not configured
  /api/v1/requests:
    get:
      operationId: listCandidateRequests
      responses:
        "200":
          description: Candidate requests returned
        "401":
          description: Unauthorized
    post:
      operationId: createCandidateRequest
    requestBody:
    required: true
    content:
      application/json:
      schema:
        $ref: "#/components/schemas/ReferenceRequestInput"
      responses:
        "201":
          description: Request created
        "400":
          description: Validation error
        "401":
          description: Unauthorized
  /api/v1/requests/{requestId}:
    get:
      operationId: getCandidateRequest
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Request detail returned
        "401":
          description: Unauthorized
        "404":
          description: Not found
    patch:
      operationId: updateCandidateDraft
      parameters:
        - $ref: "#/components/parameters/RequestId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/ReferenceRequestInput"
                - type: object
                  required: [updatedAt]
                  properties:
                    updatedAt: { type: string, format: date-time }
      responses:
        "200": { description: Draft updated }
        "409": { description: Not a draft or optimistic concurrency conflict }
  /api/v1/requests/{requestId}/invitations:
    get:
      operationId: listRefereeInvitationHistory
      parameters:
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200": { description: Historical invitation attempts returned }
  /api/v1/requests/{requestId}/replace-referee:
    post:
      operationId: replaceReferee
      parameters:
        - $ref: "#/components/parameters/RequestId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefereeContactInput" }
      responses:
        "200": { description: Active invitation superseded and replacement sent }
        "409": { description: Replacement not allowed in current state }
  /api/v1/requests/{requestId}/repeat:
    post:
      operationId: repeatReferenceRequest
      parameters:
        - $ref: "#/components/parameters/RequestId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contactId: { type: string, format: uuid }
      responses:
        "201": { description: Packet copied into a new draft }
  /api/v1/requests/{requestId}/outcome:
    put:
      operationId: setReferenceRequestOutcome
      parameters:
        - $ref: "#/components/parameters/RequestId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome]
              properties:
                outcome: { type: string, enum: [successful, unsuccessful, withdrawn, unknown] }
                note: { type: string }
      responses:
        "200": { description: Outcome recorded independently of lifecycle }
  /api/v1/requests/{requestId}/submitted-reference:
    get:
      operationId: downloadCandidateSubmittedReference
      parameters:
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200": { description: Reference downloaded in non-confidential mode }
        "403": { description: Reference is confidential }
        "404": { description: No submitted reference }
  /api/v1/referee-contacts:
    get:
      operationId: listRefereeContacts
      responses:
        "200": { description: Candidate contacts returned }
    post:
      operationId: createRefereeContact
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefereeContactInput" }
      responses:
        "201": { description: Contact created or reused }
  /api/v1/referee-contacts/{contactId}:
    put:
      operationId: updateRefereeContact
      parameters:
        - name: contactId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefereeContactInput" }
      responses:
        "200": { description: Contact updated }
    delete:
      operationId: deleteRefereeContact
      parameters:
        - name: contactId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Contact deleted }
  /api/v1/requests/{requestId}/readiness:
    get:
      operationId: getCandidateRequestReadiness
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Request readiness checklist returned
        "401":
          description: Unauthorized
        "404":
          description: Not found
  /api/v1/requests/{requestId}/events:
    get:
      operationId: listCandidateRequestEvents
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Request events returned
        "401":
          description: Unauthorized
        "404":
          description: Not found
  /api/v1/requests/{requestId}/send:
    post:
      operationId: sendCandidateRequest
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Request sent
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "409":
          description: Already sent
  /api/v1/requests/{requestId}/reminder:
    post:
      operationId: sendCandidateReminder
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Reminder queued
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "409":
          description: Reminder not allowed or cooldown active
  /api/v1/requests/{requestId}/thank-you:
    post:
      operationId: sendCandidateThankYou
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Thank-you note queued
        "401":
          description: Unauthorized
        "404":
          description: Not found
        "409":
          description: Thank-you not allowed or cooldown active
  /api/v1/requests/{requestId}/documents:
    get:
      operationId: listSupportingDocuments
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Document list returned
        "401":
          description: Unauthorized
    post:
      operationId: uploadSupportingDocument
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "201":
          description: Document uploaded
        "400":
          description: Validation error
        "401":
          description: Unauthorized
        "404":
          description: Not found
  /api/v1/referee/{token}:
    get:
      operationId: getRefereeRequest
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Referee request loaded
        "403":
          description: Revoked token
        "404":
          description: Invalid token
        "410":
          description: Expired token
  /api/v1/referee/{token}/decision:
    post:
      operationId: decideRefereeRequest
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [accepted, declined]
      responses:
        "200":
          description: Referee decision recorded
        "400":
          description: Validation error
        "403":
          description: Revoked token
        "404":
          description: Invalid token
        "409":
          description: Decision already made or reference already submitted
        "410":
          description: Expired token
  /api/v1/referee/{token}/in-progress:
    post:
      operationId: markRefereeInProgress
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Work marked in progress idempotently }
        "409": { description: Invitation has not been accepted }
  /api/v1/referee/{token}/documents/{documentId}:
    get:
      operationId: downloadRefereeSupportingDocument
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Document downloaded
        "404":
          description: Invalid token or document
        "410":
          description: Expired token
  /api/v1/referee/{token}/submit:
    post:
      operationId: submitReferenceByReferee
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                referenceFile:
                  type: string
                  format: binary
      responses:
        "200":
          description: Reference submitted
        "400":
          description: Validation error
        "403":
          description: Revoked token
        "404":
          description: Invalid token
        "409":
          description: Already submitted
        "410":
          description: Expired token
  /api/v1/internal/notifications/reminders:
    post:
      operationId: queueDeadlineReminders
      parameters:
        - name: X-Dispatch-Token
          in: header
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Reminders queued
        "401":
          description: Invalid dispatch token
  /api/v1/internal/notifications/dispatch:
    post:
      operationId: dispatchNotifications
      parameters:
        - name: X-Dispatch-Token
          in: header
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Notifications dispatched
        "400":
          description: Validation error
        "401":
          description: Invalid dispatch token
  /api/v1/internal/notifications/delivery/{providerMessageId}:
    post:
      operationId: markInvitationDelivered
      parameters:
        - name: providerMessageId
          in: path
          required: true
          schema: { type: string }
        - name: X-Dispatch-Token
          in: header
          required: true
          schema: { type: string }
      responses:
        "200": { description: Provider delivery recorded idempotently }
        "404": { description: Provider message ID not found }
components:
  parameters:
    RequestId:
      name: requestId
      in: path
      required: true
      schema: { type: string, format: uuid }
  schemas:
    RefereeContactInput:
      type: object
      required: [name, email]
      properties:
        name: { type: string }
        email: { type: string, format: email }
        relationship: { type: string }
    ReferenceRequestInput:
      type: object
      properties:
        refereeName: { type: string }
        refereeEmail: { type: string, format: email }
        refereeRelationship: { type: string }
        organization: { type: string }
        role: { type: string }
        countryCode: { type: string, minLength: 2, maxLength: 2 }
        applicationType: { type: string }
        submissionMethod: { type: string }
        preferredCompletionAt: { type: string, format: date-time }
        timezone: { type: string, example: Europe/London }
        candidateContext: { type: string }
        whyApplying: { type: string }
        relationshipContext: { type: string }
        traits: { type: string }
        achievements: { type: string }
        confidentialityMode: { type: string, enum: [confidential, non_confidential], default: confidential }
        institutionName: { type: string, deprecated: true }
        programmeName: { type: string, deprecated: true }
        opportunityType: { type: string, deprecated: true }
        deadlineAt: { type: string, format: date-time, deprecated: true }
        instructions: { type: string, deprecated: true }
